<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Created</th>
            <th>Id</th>
            <th>ParentId</th>
            <th>RepoTags</th>
            <th>Size</th>
            <th>VirtualSize</th>
        </tr>
    </thead>
    <tbody>
            {% for image in images %}
            <tr>
            <td>{{ image.Created }}</td>
            <td>{{ image.Id | slice:"4"}}</td>
            <td>{{ image.ParentId | slice:"4" | default:"N/A" }}</td>
            <td>{{ image.RepoTags | first | default:"N/A" }}</td>
            <td>{{ image.Size }}</td>
            <td>{{ image.VirtualSize }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
