{% load static from staticfiles %}
{% block front %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>
    {% block title %}
    Docker web Admin
    {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />    
    
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" />
    
    <!--link href="http://fonts.useso.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" /-->
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet" />
    
    <link href="{% static 'css/adminia.css' %}" rel="stylesheet" /> 
    <link href="{% static 'css/adminia-responsive.css' %}" rel="stylesheet" /> 
    
    <link href="{% static 'css/pages/dashboard.css' %}" rel="stylesheet" /> 
	
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<script src="{% static 'js/jquery-1.7.2.min.js' %}"></script>
<script src="http://cdn.bootcss.com/jquery.blockUI/2.66.0-2013.10.09/jquery.blockUI.min.js"></script>
<!--script src="{% static 'js/excanvas.min.js' %}"></script-->
<!--script src="{% static 'js/jquery.flot.js' %}"></script-->
<!--script src="{% static 'js/jquery.flot.pie.js' %}"></script-->
<!--script src="{% static 'js/jquery.flot.orderBars.js' %}"></script-->
<!--script src="{% static 'js/jquery.flot.resize.js' %}"></script-->
<script src="{% static 'js/bootstrap.js' %}"></script>
<!--script src="{% static 'js/charts/bar.js' %}"></script-->
{% block javascript %}
{% endblock javascript %}
{% endblock front %}
{% block body %}
<body>
	
<div class="navbar navbar-fixed-top">
	
	<div class="navbar-inner">
		
		<div class="container">
			
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 				
			</a>
			
			<a class="brand" href="/index/">Docker Admin</a>
			
			<div class="nav-collapse">
			
				<ul class="nav pull-right">
					<li>
						<a href="#"><span class="badge badge-warning">7</span></a>
					</li>
					
					<li class="divider-vertical"></li>
					
					<li class="dropdown">
                    {% block showuser %}
						<a data-toggle="dropdown" class="dropdown-toggle " href="#">
							{{user}}<b class="caret"></b>
						</a>
                        {% endblock showuser %}
						<ul class="dropdown-menu">
							<li>
								<a href="./account.html"><i class="icon-user"></i> Account Setting  </a>
							</li>
							
							<li>
								<a href="./change_password.html"><i class="icon-lock"></i> Change Password</a>
							</li>
							
							<li class="divider"></li>
							
							<li>
								<a href="/logout/"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
				
			</div> <!-- /nav-collapse -->
			
		</div> <!-- /container -->
		
	</div> <!-- /navbar-inner -->
	
</div> <!-- /navbar -->

{% endblock body %}


{% block content %}
<div id="content">
	
	<div class="container">
		
		<div class="row">
			
			<div class="span3">
				
				<div class="account-container">
				
					<div class="account-avatar">
                        <img src="{% static 'img/headshot.png' %}" alt="" class="thumbnail" />
					</div> <!-- /account-avatar -->
				
					<div class="account-details">
					
						<span class="account-name">{{user}}</span>
						
						<span class="account-role">Administrator</span>
						
						<span class="account-actions">
							<a href="javascript:;">Profile</a> |
							
							<a href="javascript:;">Edit Settings</a>
						</span>
					
					</div> <!-- /account-details -->
				
				</div> <!-- /account-container -->
				
				<hr />
				
				<ul id="main-nav" class="nav nav-tabs nav-stacked">
                    {% block images %}
					<li>
                    {% endblock images %}
						<a href="/index/">
							<i class="icon-home"></i>
							Images	
						</a>
					</li>
				    {% block containers %}	
					<li>
                    {% endblock containers %}
						<a href="/containers/">
							<i class="icon-pushpin"></i>
							Containers	
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-th-list"></i>
							Pricing Plans		
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-th-large"></i>
							Grid Layout	
							<span class="label label-warning pull-right">5</span>
						</a>
					</li>
                    {% block host%}	
					<li>
                    {% endblock host %}
						<a href="/host/">
							<i class="icon-signal"></i>
							Hosts
						</a>
					</li>
					
					<li>
						<a href="#">
							<i class="icon-user"></i>
							User Account							
						</a>
					</li>
					
					<li>
						<a href="/login/">
							<i class="icon-lock"></i>
							Login	
						</a>
					</li>
					
				</ul>	
				
				<hr />
				
				<div class="sidebar-extra">
					<p>This is the best docker web admin of the world!What?Really?I have to try this now!</p>
				</div> <!-- .sidebar-extra -->
				
				<br />
		
			</div> <!-- /span3 -->
			
			
			
			<div class="span9">
            
            <h1 class="page-title">
            <l class="icon-home"></l>
            {% block page-title %}
            Docker Admin
            {% endblock page-title %}
            </h1>
            <div class="row">
            <div class="span9">
            <div class="widget">
			   <div class="widget-content">
               {% block widget-content %}
               <select name="host" id="host">
               {% for ht in host %}
               <option value="{{ht.ip}}">{{ht.name}}</option>
               {% endfor %}
               </select>
               {% endblock widget-content %}
               </div>
				
			   {% block showsome %}	
				<div class="widget-content">
										
					<div class="widget-header">
						<i class="icon-th-list"></i>
						<h3>Table</h3>
					</div> <!-- /widget-header -->
					
					
				</div> <!-- /widget -->
				
                 {% endblock showsome %}					
				
			</div> <!-- /span9 -->
			
		</div> <!-- /row -->
		
	</div> <!-- /container -->
	
</div> <!-- /content -->
	
  {% endblock content %}
  {% block footer %}
<!--div id="footer">
	
	<div class="container">				
		<hr />
		<p>&copy; 2012 Go Ideate.</p>
	</div>
	
</div-->


    

<!-- Le javascript
================================================== -->
  </body>
</html>
{% endblock footer %}
