{% extends 'base.html'%}
{% block title %}Show container{% endblock title %}
{% block page-title %}Containers{% endblock page-title %}
{% block create-container %}
<div style="float:left;">
     <button id="CreateContainers">Create</button>
</div>
    <div style="display:none">
    <form id="addhostform" method="POST">
        <input type="text" value="Image"/>
        <input type="text" value="port"/>
        <input type="submit" value="Add"/>
        <input type="submit" value="Cancel"/>
    </form>
</div>
{% endblock create-container %}
{% block showsome %}
<div id="hostip">
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Image</th>
            <th>Names</th>
            <th>Status</th>
            <th>Contral</th>
        </tr>
    </thead>
    <tbody>
            {% for container in containers %}
            <tr>
            <td>{{ container.Id | slice:"4" }}</td>
            <td>{{ container.Image }}</td>
            <td>{{ container.Names | first | slice:"1:" }}</td>
            <td>{{ container.Status }}</td>
            <td>
                <!--li class="dropdown">
               <a data-toggle="dropdown" href="#">Contral</a>
               <ul class="dropdown-menu">
                   <li><a href="#">Start</a></li>
                   <li><a href="#">Stop</a></li>
               </ul-->
                <div class="btn-group">
                    <!--a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Action
                        <span class="caret"></span>
                    </a-->
                    <!--ul class="dropdown-menu">
                        <div class="btn-group btn-group-vertical">
                            <form method="POST">
                            <input type="text" name="containerid" value={{container.Id}} style="display:none"/>
                            <input value="start" name="submit" type="submit" class="btn del" />
                            <input value="stop" name="submit" type="submit" class="btn del"/>
                            <input value="restart" name="submit" type="submit" class="btn del"/>
                            <input value="delete" name="submit" type="submit" class="btn del"/>
                            </form>
                        </div>
                    </ul-->
                    <!-- Single button -->
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    Action <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
      <form method="POST">
      <li><input type="text" name="containerid" value={{container.Id}} style="display:none"/></li>
      <li><input value="start" name="submit" type="submit" class="btn del" style="width:100%;"/></li>
      <li><input value="stop" name="submit" type="submit" class="btn del" style="width:100%;"/></li>
      <li><input value="restart" name="submit" type="submit" class="btn del" style="width:100%;"/></li>
      <li><input value="delete" name="submit" type="submit" class="btn del" style="width:100%;"/></li>
      </form>
  </ul>
</div>
                </div>
            </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
</div>
{% endblock showsome %}
    {% block containers %}
    <li class="active">
    {% endblock containers %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function(){
            $("#host").change(function(){
                var $hostip=$("#host").val();
                $.ajax({
                    url:'/ajaxcontainers/',
                    type:'get',
                    data:{
                         'hostip':$hostip
                    },
                    success:function(data){
                           $("#hostip").html(data);
                    },
                    });
                });
            $("#CreateContainers").click(function(){
                $.blockUI({message:$("#addhostform")});
                });
            });
</script>
{% endblock javascript%}
