{% extends 'base.html'%}
{% block title %}Hosts{% endblock title %}
{% block page-title %}Hosts{% endblock page-title %}
{% block widget-content %}
<div>
    <button id="addhost">Addhost</button>
</div>
<div style="display:none">
    <form id="addhostform" method="POST">
        {{hostform.as_p}}
        <input type="submit" value="Add"/>
        <input type="submit" value="Cancel"/>
    </form>
</div>
{% endblock widget-content %}
{% block showsome %}
<table class="table table-striped table-bordered">
    <tr>
        <th>Hostname</th><th>HostVserion</th><th>HostIp</th><th>Memory</th>
    </tr>
    {% for ht in host %}
    <tr><td>{{ht.name}}</td><td>{{ht.version}}</td><td>{{ht.ip}}</td><td>{{ht.memory}}</td></tr>
    {% endfor %}
</table>
{% endblock showsome %}
    {% block host %}
    <li class="active">
    {% endblock host %}
{% block javascript %}
<script type="text/javascript">
    $(function(){
            $("#addhost").click(function(){
                $.blockUI({message:$("#addhostform")});
                });
            });
</script>
{% endblock javascript%}
